  <!-- Page title Start -->
  <div class="page-title">

    <div class="row ">

      <div class="col-md-6 col-sm-6 col-xs-6">
        <h2>Movies Titles Matching "<span style="color:red"><%= @search_param %></span>"</h2>
        <ul class="breadcrumb">
          <li></li>
          <li>(Powerd By <a href="http://www.themoviedb.com">TheMovieDB</a> API)</li>
        </ul>
      </div>

      <div class="col-md-6 col-sm-6 col-xs-6">

      </div>
    </div>
  </div>
  <!-- Page title end -->

  <div class="row">
    <div class="col-md-12 col-sm-12 col-sx-12">
      <div class="panel panel-default">
        <div class="panel-heading clearfix">
          <i class="icon-bar-chart"></i>
          <h3 class="panel-title">Search Results</h3>
        </div>
        <div class="panel-body">
          <div class="table-responsive">
            <table class="table table-condensed table-striped table-bordered table-hover no-margin">
              <thead>
                <% @movie.each do |movie| %>
                    <% if !movie.nil? %>
                        <tr>
                            <td class="hidden-phone">
                                <%= link_to movie_path (movie.id) do %>
                                    <%= image_tag("#{@configuration.base_url}w154#{movie.poster_path}") if movie.poster_path %>
                                <% end %>
                            </td>

                            <td class="hidden-phone">
                                <%= link_to movie.title, movie_path(movie.id) %> (<%= movie.release_date %>) <br />
                                Directors: <% Tmdb::Movie.crew(movie.id).each do |crew| %> <% if crew['department'] == 'Directing' %> <%= link_to crew['name'] %> <% end %><% end %><br />
                                Writers:
                                Starring: <% Tmdb::Movie.casts(movie.id).first(3).each do |cast| %> | <% end %><br />
                            </td>
                        </tr>
                    <% end %>
                <% end %>
                </thead>
              <tbody>
              <tr>
                <td class="hidden-phone"><%= raw @mms_result %></td>
                <td class="hidden-phone"><%= raw @fedora_result %></td>
                <td class="hidden-phone"><%= raw @api_result %></td>
                <td class="hidden-phone"><%= raw @dc_result %></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>




